# CityBikes

Send a request to CityBikes for the city of your choice.

In [7]:
import pandas as pd
import json
import requests
from pprint import pp

In [2]:

city_name = 'citi-bike-nyc'
api_url = f'https://api.citybik.es/v2/networks/{city_name}'

# Send a GET request to the CityBikes API
response = requests.get(api_url)

# Check if the request was successful 
if response.status_code == 200:
    data = response.json()
else:
    # Print an error message if the request was not successful
    print(f"Error: {response.status_code}")

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [10]:
result_stations = requests.get(api_url)
stations = result_stations.json()['network']['stations']

# Initialize desired info
station_names = []
latitudes = []
longitudes = []
total_bikes = []

# Extract station info
for station in stations:
    station_names.append(station['name'])
    latitudes.append(station['latitude'])
    longitudes.append(station['longitude'])
    total_bikes.append(station['empty_slots'] + station['free_bikes'])

Put your parsed results into a DataFrame.

In [11]:
# Create a DataFrame
df = {
    'station_name': station_names,
    'latitude': latitudes,
    'longitude': longitudes,
    'total_bikes': total_bikes
}

df_stations = pd.DataFrame(df)

In [12]:
#Pre-cleaning
print(df_stations.dtypes)
df_stations.info()

station_name     object
latitude        float64
longitude       float64
total_bikes       int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2116 entries, 0 to 2115
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_name  2116 non-null   object
 1   latitude      2116 non-null   float64
 2   longitude     2116 non-null   float64
 3   total_bikes   2116 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 66.3+ KB

In [13]:
df_stations.head()

                         station_name   latitude  longitude  total_bikes
0            W 100 St & Manhattan Ave  40.795000 -73.964500           31
1          7 Ave & Central Park South  40.766741 -73.979069            0
2                      28 St & 41 Ave  40.751047 -73.937970           24
3  Frederick Douglass Blvd & W 112 St  40.801694 -73.957145           34
4                    3 Ave & E 112 St  40.795508 -73.941606           22

In [14]:
print(df_stations.duplicated().sum())

0

In [15]:
print(df_stations.describe())

          latitude    longitude  total_bikes
count  2116.000000  2116.000000  2116.000000
mean     40.746170   -73.947572    27.720227
std       0.061040     0.043628    15.241544
min      40.633385   -74.086701     0.000000
25%      40.699662   -73.981913    19.000000
50%      40.742148   -73.944601    22.000000
75%      40.784796   -73.912910    30.000000
max      40.886300   -73.849780   120.000000

In [16]:
#Create CSV
df_stations.to_csv('../data/stations.csv')